body, html {
	margin: 0;
	padding: 0;
	background: #000;
	color: #0f0;
}

#wrapper {
	margin: auto;
	width: 1000px;
}

#head {
	min-height: 150px;
	border-bottom: 2px solid #000;	
}

#head div {
	min-height: 150px;
}

#head div, #body, #footer {
	border-radius: 20px;
	background: #353;
}

#login {
	width: 300px;
	float: left;
	border-right: 2px solid #000;
}

#logo {
	width: 392px;
	float: left;
	border-left: 2px solid #000;
	border-right: 2px solid #000;		
}

#logo h1 {
	text-align: center;
	margin-top: 45px;
	font-style: italic;
}

#navigation {
	width: 300px;
	float: right;
	border-left: 2px solid #000;
}

#body {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	min-height: 100px;
}

#footer {
	border-top: 2px solid #000;
	min-height: 50px;
}

#footer h3 {
	float: right;
	margin-right: 55px;
	margin-top: 15px;
	color: #3a3;
}

.Message {
	text-align: center;
	font-style: italic;
}

<!-- Цвет фона Inputов -->
.backgroundColorInput {
	background: #353;
	color: #0f0;
}

<!-- Панель формы логина -->
.loginForm {
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

.logedForm {
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

<!-- Форма редактирования пользователя -->
.userEditForm {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.userEditForm .inputs {
	text-align: center;
}

.userEditForm .errors {
	color: #f00;
	text-align: center;
}

.userEditForm #jsErrorField {
	color: #f00;
	text-align: center;
}
<!-- Профиль пользователя -->
.userProfileForm {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.userProfileForm .commentTitle {
	text-align: left;
	margin-left: 20px;
}

.userProfileForm pre {
	text-align: left;
}

.userProfileForm .lastEdit {
	display: block;
	margin: auto;
	margin-left: 710px;
}
<!-- Панель навигации -->
.navigationPanelForm {
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

.hiddenDiv {
	visibility: hidden;
	display: none;
}

.navigationPanelForm .navButton {
	width: 125px;
}
<!-- Список пользователей; статей и комментариев -->
#tabs {
	width: 800px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.userListTable {
	margin: auto;
	text-align: center;
}

<!-- Редактор статей -->
.articleEditPanelForm {
	margin: auto;
	margin-top: 20px;
}

.articleEditPanelForm .titleInput {
	width: 816px;
}

.articleEditArea {
	resize: none;
	width: 900px;
	height: 200px;
}

.articleInputs {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.articleEditPanelForm .errors {
	text-align: center;
	color: #f00;
}


<!-- Статья -->
.article {
	width: 900px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article .content {
	white-space: pre-wrap;
}

.article .title {
	margin: auto;
	text-align: center;
}
.article .section {
	margin-top: 0px;
	text-align: center;
}
.article .author {
	margin: auto;
	margin-left: 40px;
}
.article .createDate {
	margin: auto;
	margin-left: 40px;
}
.article .lastEdit {
	margin: auto;
	margin-left: 200px;
}

.article .inputsTable {
	margin: auto;
	text-align: center;
	float: right;
}

.article .commentsHeader {
	margin: auto;
	text-align: center;
	clear: both;
}
.article .comment .commentTitle {
	margin: auto;
	margin-left: 40px;
}
.article .comment .lastEdit {
	display: block;
	margin: auto;
	margin-left: 140px;
}

.article .comment .commentEdit {
	margin-left: 710px;
}
<!-- Список статей -->
.articlesListFrom {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

<!-- Редактор комментариев -->
.commentEditPanel {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.commentEditPanel .commentEditArea {
	resize: none;
	width: 900px;
	height: 200px;
}

.commentEditPanel .inputLeft {
	text-align: right;
	width: 450px;
}
.commentEditPanel .inputRight {
	text-align: left;
}

.commentEditPanel .inputButton {
	width: 100px;
}

.commentEditPanel .error {
	color: #f00;
}